<button class="modal-close" data-close-modal aria-label="Close"><span class="nav-icon" data-nav-icon="close"></span></button>
<h3>More</h3>

<nav class="more-sheet-nav">
  <a href="#" data-page="routine" data-close-modal class="more-sheet-link">
    <span class="nav-icon" data-nav-icon="routine"></span>
    Routine
  </a>
  <a href="#" data-page="habits" data-close-modal class="more-sheet-link">
    <span class="nav-icon" data-nav-icon="habits"></span>
    Habits
  </a>
  <a href="#" data-page="grocery" data-close-modal class="more-sheet-link">
    <span class="nav-icon" data-nav-icon="grocery"></span>
    Grocery list
  </a>
  <a href="#" data-page="bucketlist" data-close-modal class="more-sheet-link">
    <span class="nav-icon" data-nav-icon="bucketlist"></span>
    Bucket List
  </a>
  <a href="#" data-page="settings" data-close-modal class="more-sheet-link">
    <span class="nav-icon" data-nav-icon="settings"></span>
    Settings
  </a>
</nav>
